Repository Alamofire/AlamofireImage, pull requests merged in 2020-02, with the labels that each got.

#364 Link license to the Readme
  README.md
Labels: documentation

#395 AFI4 Documentation
  AlamofireImage.xcodeproj/project.pbxproj
  Documentation/AlamofireImage 4.0 Migration Guide.md
  README.md
Labels: documentation

#398 Stabilizing Test Suite
  AlamofireImage.xcodeproj/project.pbxproj
  Tests/ImageFilterTests.swift
  Tests/Resources/Modified Images/Core Image Filters/unicorn-blurred-8-ios-13.png
  Tests/UIImageTests.swift
  Tests/UIImageViewTests.swift
Labels: tests

#399 Bugfix - AF Dependency Fix
  AlamofireImage.podspec
  Cartfile
  Package.resolved
  Package.swift
Labels: carthage, cocoapods, swift
